@(items: List[models.ItemOnSale])
@main("On Sale"){
	<h1>On sale here</h1>
	<h4>Note that all products are second hand, unless otherwise stated.</h4>
	<table class="table table-bordered table-hover table-condensed">
		<thead>
		<!-- The header row-->
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Stock</th>
			<th>Price</th>
		</tr>
		</thead>
		<tbody>
			@* Loop for creating table rows from ItemOnSale data *@
			@for(i<-items) {
			   <tr>
				  <td>@i.getId</td>
				  <td>@i.getName</td>
				  <td>@i.getDescription</td>
				  <td>@i.getStock</td>
				  <td>&euro; @("%.2f".format(i.getPrice))</td>
			   </tr>
			}
		 </tbody>
	</table>
 }	    